html
  head
    title Duck Hunt - High Scores
    link(rel="stylesheet" href="/css/styles.css")

  body
    table(id="scores")
      tr
        th(colspan=3) &#x1F986; DUCK HUNT - HIGH SCORES &#x1F986;

      // 1) fix the code below which is broken because it is incomplete
      // loop through all `scores` using pug `for-in` looping syntax
      // show score.place
      // show score.initials
      // show score.score
      for  in 
        tr
          td(class="place")= 
          td(class="initials")= 
          td(class="score")= 
